@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

@font-face {
  font-family: Viper;
  src: url(Fonts/VIPESSRG.TTF);
}

@font-face {
  font-family: Galiver;
  src: url(Fonts/GALS.ttf);
}

@font-face {
  font-family: Starjedi;
  src: url(Fonts/Starjedi.ttf);
}

@font-face {
  font-family: Azonix;
  src: url(Fonts/Azonix-1VB0.otf);
}

@font-face {
  font-family: Equinox;
  src: url(Fonts/FontsFree-Net-EquinoxRegular.ttf);
}

@font-face {
  font-family: Gathell;
  src: url(Fonts/FontsFree-Net-GathellThin-jEvwy.ttf);
}

@font-face {
  font-family: Quantify;
  src: url(Fonts/Quantify\ Bold\ v2.6.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* overflow: hidden; */
  background: linear-gradient(180deg, #242524, #171941, #324d3a, #8cecf0 );
  
 
  /* background-size: 400% 400%;  */
  /* position: relative; */
  /* animation: reveal 10s ease-in-out infinite; */
 
}

/*--------------------------------------------------------------
  Loader
  --------------------------------------------------------------*/

.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #191a2c;
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #a7d3e7 ;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}




header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
header .welcome {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul {
  display: flex;
  justify-content: right;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 5px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent);
  z-index: 1000;
}

.home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.home img#bg-forward {
  z-index: 10;
}
.home img #bgbottom{
  position: absolute;
  overflow: hidden;
}

.home #bg{
  opacity: 0.3;
}

.home #bgbottom{
  opacity: 0.4;
}

.home #moon{
  
  margin-top: 0px;
  margin-left: 430px;
  opacity: 2.0;
}


#mainText {
  
  font-weight: 400;
  font-family: Quantify;
  /* font-style: bold; */
  position: absolute;
  top: 180px;
  left: 120px;
  color: #fff;
  
  font-size: 6.5vw;
  font-size: 4.5em;

} 

.home h2{
  opacity: 0;
}

.home h2{
  animation: ani2 6s ease 1.5s forwards;
}

@keyframes ani2{
  100%{
    opacity: 1;
  }
}

#btn {
  text-decoration: none;
  align-items: center;
  display: inline-block;
  padding: 6px 24px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.2em;
  z-index: 9;
  transform: translateY(100px);
  overflow: hidden;
}

#button{
  text-decoration: none;
  /* align-items: center; */
  display: inline-block;
  padding: 6px 24px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.2em;
  z-index: 9;
  transform: translateY(100px);
  overflow: hidden;
}

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/

.section {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  background-color: linear-gradient (180 deg, #1b2180, #171941);
  overflow: hidden;
}
.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section {
  float: right;
  width: 55%;
}
.image-section {
  float: left;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3 {
  margin-top: 30px;
  color: #fff;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
}

/*--------------------------------------------------------------
  # Skills
  --------------------------------------------------------------*/
.skillset{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins' sans-serif;
}

.inner{
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-skill {
  text-align: center;
  color: #ffffff;
  padding: 2 rem; 
  position: relative;
}


.skill-container{
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 5rem;
  padding: 1rem 10px;
  font-size: 1.2 rem;
}

.skill-box{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
  align-items: center;
}

.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.img-skill{
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 60px;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

}

.img-skill ::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 120px;
  background: rgba(100, 100, 100, 0.05);
  border-radius: 45px 0 0 45px;

}

.skill-title p{
  color: #ffffff;
  margin: 0.5rem;
}

.skill-icon{
  width: 80px;
  z-index: 2;

}

/*--------------------------------------------------------------
  # Achievements
  --------------------------------------------------------------*/



  #Achievements {
    padding: 10rem 0;
  }
  #Achievements .item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 4rem;
  
    /* gap: 2rem; */
  }
  
  #project-title{
    color: #ddd;
  }
  
  #Achievements .item:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  #Achievements .item .left {
    flex: 1;
  }
  #Achievements .item .right {
    margin-left: -150px;
    flex: 1;
    background-color: var(--body-bg);
    padding: 4rem 2rem;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #00000068;
    z-index: 2;
  }
  
  .right{
    color: #96c3ee;
  }
  #Achievements .item:nth-of-type(even) .right {
    margin-left: 0;
  }
  #Achievements .item:nth-of-type(even) .left {
    margin-left: -150px;
  }
  #Achievements .item .left .img {
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #8c77c733;
    position: relative;
  }
  #Achievements .item .left .img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: #5a24ed38; */
  }
  #Achievements .item .left .img img {
    object-fit: cover;
    transition: 0.3s ease transform;
  }
  #Achievements .item:hover .left .img img {
    transform: scale(1.3);
    z-index: 1;
  }
  #Achievements .item .right .project-title {
    font-size: 2.0rem;
    font-family: 'Montserrat';
    margin-bottom: 1rem;
  }
  #Achievements .item .right .project-sub-title {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  #Achievements .item .right .project-desc {
    color: var(--secondary-gray);
    margin-bottom: 3rem;
    margin-left: 5.5rem;
    margin-right: 0rem;
  }
  /* #projects .item .left .project-desc {
    color: var(--secondary-gray);
    margin-bottom: 3rem;
    margin-left: -3rem;
    margin-right: 5.5rem;
  } */
  #Achievements .item .right .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
    #Achievements .item .left .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    /* padding: calc(0.6em - 4px) calc(1.6em - 4px); */
  }
  #Achievements .item .right .external-link svg {
    width: 25px;
  }
  
  #Achievements .item .left .github{
    align-items: center;
  }
  
  @media only screen and (max-width: 768px) {
    #Achievements .item {
      flex-direction: column;
    }
    #Achievements .item .left {
      width: 100%;
    }
    #Achievements .item .right {
      margin-left: 0;
      width: 90%;
      margin-top: -150px;
    }
    #Achievements .item:nth-of-type(even) {
      flex-direction: column;
    }
    #Achievements .item:nth-of-type(even) .left {
      margin-left: 0;
    }
  }
  @media only screen and (max-width: 450px) {
    #Achievements .item .right .buttons {
      flex-direction: column;
    }
    #Achievements .item .right .buttons a {
      width: 100%;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .image-grid {
      --num-cols: 2;
      --row-heigh: 200px;
    }
  } 

/* .Achievements {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  padding: 0 4px;
  
  margin: auto;
  align-items: center;
  text-align: center;
}

.column {
  width: 350px;
  height: 400px;
  border-radius: 20px;
  padding: 1 rem 2 rem;
  background: #96c3ee;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.column:hover {
  transform: translateY(20px);
  border-radius: 20px;
}

.column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(10, 77, 69, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 20px;
}

.column:hover:before {
  opacity: 1;
  border-radius: 20px;
}

.column img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.column .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 1;
  transform: translateY(30px);
  transition: 0.5s all;
}

.column:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.column .info h1 {
  margin: 0;
}

.column .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 50px;
}

.heading {
  color: azure;
  text-align: center;
  transform-style: uppercase;
  margin-top: 200px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column .artwork {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} */

/*--------------------------------------------------------------
 # Projects Section 
  --------------------------------------------------------------*/

#projects {
	padding: 10rem 0;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 6rem;

	/* gap: 2rem; */
}

#project-title{
  color: #ddd;
}

#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: var(--body-bg);
	padding: 4rem 2rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000068;
	z-index: 2;
}

.right{
  color: #96c3ee;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #8c77c733;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/* background-color: #5a24ed38; */
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.3);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.0rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
  margin-left: 5.5rem;
  margin-right: 0rem;
}
/* #projects .item .left .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
  margin-left: -3rem;
  margin-right: 5.5rem;
} */
#projects .item .right .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

  #projects .item .left .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
	/* padding: calc(0.6em - 4px) calc(1.6em - 4px); */
}
#projects .item .right .external-link svg {
	width: 25px;
}

#projects .item .left .github{
  align-items: center;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-heigh: 200px;
  }
} 

/*--------------------------------------------------------------
  # Extracurricular (Minor Projects)
  --------------------------------------------------------------*/
.Extracurricular {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  padding: 0 4px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.column {
  width: 350px;
  height: 400px;
  border-radius: 20px;
  padding: 1 rem 2 rem;
  background: #96c3ee;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.column:hover {
  transform: translateY(20px);
  border-radius: 20px;
}

.column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(10, 77, 69, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 20px;
}

.column:hover:before {
  opacity: 1;
  border-radius: 20px;
}

.column img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.column .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 1;
  transform: translateY(30px);
  transition: 0.5s all;
}

.column:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.column .info h1 {
  margin: 0;
}

.column .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 50px;
}

.heading {
  color: azure;
  text-align: center;
  transform-style: uppercase;
  margin-top: 200px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column .artwork {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
  # Artwork
  --------------------------------------------------------------*/

.Artwork {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-around;
  padding: 0 4px;
  
  margin: auto;
  align-items: center;
  text-align: center;
}

.column {
  width: 350px;
  height: 400px;
  border-radius: 20px;
  padding: 1 rem 2 rem;
  background: #96c3ee;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.column:hover {
  transform: translateY(20px);
  border-radius: 20px;
}

.column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(10, 77, 69, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 20px;
}

.column:hover:before {
  opacity: 1;
  border-radius: 20px;
}

.column img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.column .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 1;
  transform: translateY(30px);
  transition: 0.5s all;
}

.column:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.column .info h1 {
  margin: 0;
}

.column .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 50px;
}

.heading {
  color: azure;
  text-align: center;
  transform-style: uppercase;
  margin-top: 200px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.column .artwork {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/

#contact {
  color: aliceblue;
  max-width: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
}



.email {
  color: #fff;
}

.phone {
  color: #fff;
}

.address {
  color: #fff;
}

h4 {
  margin-left: 20px;
}

p {
  margin-left: 20px;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  /* background: #0563bb; */
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #96c3ee;
  color: #fff;
  text-decoration: none;
}

#footer .social-links .a .github:hover {
  transition: transform 0.7s ease-in-out;
}
#footer .social-links .linkedin:hover {
  transition: transform 0.7s ease-in-out;
}

#footer .social-links .wordpress:hover {
  transition: transform 0.7s ease-in-out;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#buttons .github{
  align-items: center;
}
